# Database Configuration (PostgreSQL via Supabase)
DATABASE_URL=postgresql://user:password@db.supabase.co:5432/database_name

# JWT Secret
JWT_SECRET=d91a71eb841e2ad5788351dec6e41f8f0be3adad3d62e4acb3597bf157253c53

# Node Environment
NODE_ENV=development
